language: node_js
node_js:
  - "stable"
cache:
  directories:
    - npm test
    - node_modules
script:
  - npm run build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: build
  on:
    branch: master