
.genome-base{
    color: white !important;
    background-color: gray !important;
}

.gap{
    color: black !important;
    background-color: black !important;
}

.label-DNA-A{
    color: red !important;
}

.label-DNA-C{
    color: blue !important;
}

.label-DNA-G{
    color: purple !important;
}

.label-DNA-T{
    color: green !important;
}


.label-PROTEIN-A, .label-PROTEIN-I,
.label-PROTEIN-L, .label-PROTEIN-F,
.label-PROTEIN-W, .label-PROTEIN-V,
.label-PROTEIN-M
{
    color: blue !important;
}

.label-PROTEIN-K, .label-PROTEIN-R
{
    color: red !important;
}

.label-PROTEIN-E, .label-PROTEIN-D
{
    color: magenta !important;
}

.label-PROTEIN-K, .label-PROTEIN-R
{
    color: red !important;
}

.label-PROTEIN-N, .label-PROTEIN-Q,
.label-PROTEIN-S, .label-PROTEIN-T
{
    color: green !important;
}

.label-PROTEIN-C
{
    color: pink !important;
    /* color: black !important; */
}

.label-PROTEIN-G
{
    color: orange !important;
    /* color: black !important; */
}

.label-PROTEIN-P
{
    color: yellow !important;
    /* color: black !important; */
}

.DNA-A{
    background-color: red !important;
}

.DNA-C{
    background-color: blue !important;
}

.DNA-G{
    background-color: purple !important;
}

.DNA-T{
    background-color: green !important;
}


.PROTEIN-A, .PROTEIN-I,
.PROTEIN-L, .PROTEIN-F,
.PROTEIN-W, .PROTEIN-V,
.PROTEIN-M
{
    background-color: blue !important;
}

.PROTEIN-K, .PROTEIN-R
{
    background-color: red !important;
}

.PROTEIN-E, .PROTEIN-D
{
    background-color: magenta !important;
}

.PROTEIN-K, .PROTEIN-R
{
    background-color: red !important;
}

.PROTEIN-N, .PROTEIN-Q,
.PROTEIN-S, .PROTEIN-T
{
    background-color: green !important;
}

.PROTEIN-C
{
    background-color: pink !important;
    color: black !important;
}

.PROTEIN-G
{
    background-color: orange !important;
    color: black !important;
}

.PROTEIN-P
{
    background-color: yellow !important;
    color: black !important;
}

.PROTEIN-B, .PROTEIN-X,
.PROTEIN-Y, .PROTEIN-Z,
.PROTEIN-H
{
    background-color: rgb(216, 216, 103) !important;
    color: black !important;
}